.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #00000000;

  overflow: hidden;

  font-family: "Source Code Pro for Powerline";
  font-weight: bold;
}

.Launcher {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;

  border-radius: 50px;

  background-color: #282c34ee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 8vh;
  text-align: center;
  padding: 10vw;

}


.Launcher p {
    margin: 0 auto;
}

