.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #00000000;

  overflow: hidden;

  font-family: "Source Code Pro for Powerline";
  font-weight: bold;
}

.Launcher {
  position: absolute;
  top: 5vw;
  left: 5vw;
  right: 5vw;
  bottom: 5vw;

  border-radius: 5vw;

  background-color: #282c34ee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5vw 5vw;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.Entry {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 10vw;
  height: 10vw;
  margin: 1vw;

  border-radius: 2vw;
  border: solid 2px transparent;
}
.Entry:hover {
  border-color: white;
}

.Entry img {
  width: 6vw;
  height: 6vw;
  margin-top: 1vw;
}


.Entry .Text {
  color: white;
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 1vw;
}

