.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #00000000;

  overflow: hidden;
}

.Notifier {

  display: block;
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;

  color: white;
  font-size: 5vh;
  text-align: center;
  padding: 10vw;

  border-radius: 50px;

  background-color: #282c34dd;

  transform: translateY(100vh);
  transition: transform 1.0s;
}

.Notifier.up {
    transform: translateY(0) !important;
}

