.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #00000000;

  overflow: hidden;

  font-family: "SourceCodePro-Bold";
}

.Notifier {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;

  border-radius: 20px;

  background-color: #282c34ee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10vw;

  transform: translateY(100vh);
  transition: transform 0.5s;
}

.Notifier.up {
    transform: translateY(0) !important;
}

.Notifier p {
    margin: 0 auto;
}

