@font-face {
  font-family: 'SourceCodePro';
  src: url('./source_code_pro_powerline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro-Bold';
  src: url('./source_code_pro_powerline_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SourceCodePro' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
